/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* It makes transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* It prevents callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* It prevents webkit from resizing text to fit */
    -webkit-user-select: none;                  /* It prevents copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 100px;
}

.news-logo {
    margin: 40px auto;
}

.footer {
    position: relative;
    bottom: 0px;
    margin: 10px auto;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

h1, h2 {
    font-size:22px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:top;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.news-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
}

.new {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #A7A7A7;
    padding: 5px;
    margin: 5px 0px;
}

.news-informations {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 5px;
    flex: 4;
}

.new-message p {
    font-size: 10px;
    margin: 3px;
    max-width: 80%;
    text-overflow: ellipsis;
}

.new-image img {
    border-radius: 5px;
    max-width: 150px;
    max-height: 100%;
}

.new-favorite {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: center;
}

.new-favorite label {
    font-size: 8px;
}

.new-image {
    flex: 4;
}

.logo {
    position: absolute;
    top: 20px;
    border-radius: 5px;
}